{% extends "MicroliseSurveyBundle::auth.html.twig" %}

{% block title %}
    {{ 'Microlise Customer Feedback System' }}
{% endblock title %}



{% block main_content %}

    <div id="content" class="container container--content">


        <h2 class="base-line-padding-bottom">Microlise Customer Feedback System</h2>

        <div class="row-fluid">
            <div class="span12">
                <div class="base-line-padding-bottom">Welcome to the Microlise Customer Feedback System, here you can create, send and analyse custom surveys.</div>

                <div class="base-line-padding-bottom"><a href="/create" class="btn">Create New Survey</a></div>

                <div>

                <div class="span5">
                    <div class="well well-small">
                        <h4>Current Surveys</h4>

                        {% for letter in 'a'|upper..'z'|upper %}

                            <div class="base-line-padding-bottom">
                                <div id="{{ letter }}">
                                    <h3><strong>{{ letter }}</strong></h3>
                                </div>
                                {% for surveys in survey %}
                                    {% if letter == surveys.name|first|upper %}
                                        <ul class="grid-gutter-padding-left" style="list-style: none; margin: 0;">
                                            <li>
                                                <strong>

                                                <ul class="inline">
                                                    <li><a href="{{ path('microlise_survey_display', {'id': surveys.id}) }}" title="{{ surveys.name }}">{{ surveys.name }}</a></li>
                                                    <li class="padding-0"><a href="{{ path('microlise_survey_edit', {'id': surveys.id}) }}" title="Edit Survey"><i class="icon-edit"></i></a></li>
                                                    <li><a href="#" rel="popover" data-title="{{ surveys.name }}" title="Delete Survey" data-content='<ul class="mb-block-list  mb-block-list--flush  mb-full-bleed  mb-full-bleed--vertical">
                                                    <li>{{ 'Are you sure you want to delete this survey?' }}</li>
                                                    <li><a href="{{ path('microlise_survey_delete', {'id': surveys.id}) }}" class="mb-block-list__link"><i class="icon-delete" aria-hidden="true"></i> Delete</a></li>
                                                    </ul>' data-html="true"><i class="icon-delete"></i></a></li>
                                                </ul>
                                                </strong>

                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        {% endfor %}

                        <table class="table table-striped">

                        </table>
                    </div>
                </div>

                <div class="span5">
                    <div class="well well-small">
                        <h4>Analysis</h4>
                        <table class="table table-striped">

                        </table>
                    </div>
                </div>

                </div>

            </div>

        </div>

    </div>

{% endblock main_content %}